.logout_screen {
  width: 100%;
  min-height: calc(100vh - 120px);
  padding: 0px 10px;
  border: 1px solid transparent;
}

.logout_screen header {
  width: 100%;
  text-align: center;
  margin-top: 50px;
}

.logout_screen header img {
  width: 150px;
  height: auto;
}

.logout_screen main {
  width: 100%;
  max-width: 800px;
  margin: 50px auto 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 50px;
}

.content {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap-reverse;
  row-gap: 20px;
}

.left {
  width: 55%;
  min-width: 350px;
}

.left h2 {
  font-size: 32px;
  font-weight: 500;
}

.left h2 > span {
  color: var(--secondary-color);
  text-transform: capitalize;
}

.left h3 {
  font-size: 24px;
  font-weight: 500;
  margin: 20px 0px 10px;
}

.left p {
  font-size: 18px;
  color: #353535;
  padding-right: 10px;
}

.right {
  width: 45%;
  min-width: 250px;
  height: 100%;
  text-align: center;
}

.right img {
  width: 100%;
  height: auto;
  object-fit: cover;
  object-position: center;
}

.back_btn {
  width: 225px;
  height: 45px;
  color: var(--primary-color);
  font-size: 16px;
  font-weight: 300;
  background-color: #353535;
  border-radius: 5px;
}

.back_btn:hover,
.back_btn:active {
  background-color: #1c1c1c;
}

@media screen and (max-width: 600px) {
  .left {
    text-align: center;
  }

  .left h2 {
    font-size: 28px;
  }

  .left h3 {
    font-size: 20px;
    margin: 10px 0px;
  }

  .left p {
    font-size: 16px;
    padding-right: 0px;
  }
}
