.change_password {
  width: 100%;
  max-width: 400px;
  margin-top: 30px;
  text-align: center;
}

.change_password h3 {
  font-size: 24px;
  font-weight: 500;
  margin-bottom: 20px;
}

.change_password p {
  margin-bottom: 10px;
  font-size: 18px;
  font-weight: 500;
  color: var(--secondary-color);
}

.change_btn {
  width: 100%;
  height: 45px;
  border-radius: 5px;
  margin-top: 20px;
  background-color: var(--secondary-color);
  color: var(--primary-color);
}

.change_btn:hover,
.change_btn:active {
  background-color: #ff8b00;
}

.change_btn:disabled {
  background-color: #b5b5b5;
}
