.recipe_container {
  width: 100%;
  max-width: 1200px;
  min-height: calc(100vh - 250px);
  margin: 50px auto;
}

.recipe_container h2 {
  font-size: 28px;
  font-weight: 500;
  color: #353535;
  margin-bottom: 20px;
  margin-left: 50px;
  text-transform: capitalize;
}

.recipe_container h2 span {
  color: var(--secondary-color);
}

.no_data {
  width: 100%;
  min-width: 250px;
  max-width: 350px;
  margin: 20px auto;
  text-align: center;
}

.no_data img {
  width: 100%;
  height: auto;
}

.no_data h3 {
  font-size: 20px;
  font-weight: 500;
  color: #353535;
  margin-top: 30px;
}

.loading {
  padding: 50px 0px;
  text-align: center;
}

.grid_container {
  width: 100%;
  margin: 0px auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(340px, auto));
  justify-content: center;
  gap: 10px;
}
